<div class="agregarProducto">


    <div>
        <h1 class="title">{{title}}</h1> <br>


                    <div class="product-container">
                        {{#each products}}
                        <div class="product-item">
                            <img src="{{this.imageUrl}}" alt="{{this.name}}" class="product-image">
                            <p class="product-name">Producto: {{this.name}}</p>
                            <p class="product-price">Precio: ${{this.price}}</p>
                            <p class="product-description">Descripción: {{this.description}}</p>
                            <div class="button-container">
                                <a href="/productos/{{this._id}}" class="view-button">Ver</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
    </div>

    <div>
    <h1 class="contacto__titulo">Formulario de Pedido<hr></h1>
    <h2>Hola {{user.nombre}}, porfavor realiza un pedido especificandolo a continuación</h2>
        <section class="principal__contacto2">
            <form class="contacto__form" action="/pedidos" method="post" >


                <input type="text" id="name" class="inputPadron2" name="name" value="{{user.nombre}}" required>

                <input type="email" id="email" class="inputPadron2" name="email" value="{{user.email}}" required>

                <label for="descripcion">Descripción del pedido</label>
                <textarea id="descripcion" class="inputPadron" name="description" placeholder="Ingrese el pedido a realizar, colocando el nombre del producto y la cantidad" required style="height: 200px; width: 300px; text-align: center"></textarea>


                <input type="submit" value="Realizar Pedido" id="enviar" class="enviar">            


            </form>
        </section>
    </div>
</div>