   <div>
    <h1 class="title">{{title}}</h1> <br>
    
       <a href="/cliente/productos" class="enviar2" style="width: 10%; text-align: center; margin: 10px"> Regresar </a>

    <div class="product-container">
     
        <div class="product-item">
            <img src="{{product.imageUrl}}" alt="{{product.name}}" class="product-image">
            <p class="product-name">Producto: {{product.name}}</p>
            <p class="product-price">Precio: {{product.price}}</p>
            <p class="product-description">Descripción: {{product.description}}</p>
        </div>
  
    </div>
</div>