<div class="agregarProducto">

    <a href="/admin" class="enviar2" style="width: 10%; text-align: center; margin: 10px"> Regresar </a>
    <div>
        <h1 class="title">{{title}}</h1> <br>
        <div class="product-container">
            {{#each orders}}
            <div class="product-item">
                <p class="product-name">Producto: {{this.name}}</p>
                <p class="product-description">Descripción: {{this.description}}</p>
                <p class="product-description">Hora de pedido: {{this.orderedAt}}</p>
                <div class="button-container">
                    <a href="/pedidos/{{this._id}}" class="view-button">Ver completo</a>

                    <a href="/pedidos" onclick="deletePedido('{{this._id}}',window.location.href);return false" async
                        class="delete-button">Eliminar</a>
                </div>

            </div>
            {{/each}}


        </div>



    </div>
</div>